#admin-privacy-section-title-icon,
#admin-privacy-section-refresh-icon {
  position: absolute;
  color: aliceblue;
  font-size: 1.3vw;
  left: 37.5%;
  margin-top: 12%;
  width: 14%;
  height: 1vw;
  text-align: left;
}

#admin-privacy-section-refresh-icon {
  font-size: 1.2vw;
  margin-top: 15%;
  left: 76.5%;
  width: 2%;
}

#admin-privacy-section-refresh-icon:hover {
  opacity: 0.7;
}

#admin-privacy-section-search-input {
  position: absolute;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8vw;
  width: 23vw;
  height: 1.2vw;
  margin-top: 15%;
  left: 37.5%;
  text-align: left;
  padding-left: 0.5vw;
  border: 0.5px solid rgba(255, 255, 255, 0.106);
  box-shadow: rgba(255, 255, 255, 0.106) 0px 0px 1px;
  background-color: rgba(8, 8, 8, 0.455);
}

#admin-privacy-section-search-button {
  position: absolute;
  height: 1.1vw;
  font-size: 0.85vw;
  color: rgba(223, 223, 223, 0.898);
  width: 7vw;
  text-align: center;
  margin-top: 15%;
  margin-left: 61%;
  padding-top: 0.1vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#admin-privacy-section-search-button:hover {
  color: aliceblue;
}

#admin-privacy-section-title,
#admin-privacy-section-users-list-id-title,
#admin-privacy-section-users-list-steamhex-title,
#admin-privacy-section-users-list-steamname-title,
#admin-privacy-section-users-list-date-title {
  position: absolute;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  margin-left: 40%;
  margin-top: 11.8%;
  width: fit-content;
  height: 1vw;
  font-weight: 500;
  text-align: left;
}

#admin-privacy-section-users-list-id-title,
#admin-privacy-section-users-list-steamhex-title,
#admin-privacy-section-users-list-steamname-title,
#admin-privacy-section-users-list-date-title {
  color: aliceblue;
  font-size: 0.7vw;
  background-color: rgba(24, 24, 24, 0.39);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
  text-align: center;
  margin-left: 40%;
  margin-top: 16.8%;
  width: 6vw;
}

#admin-privacy-section-users-list-id-title {
  margin-left: 38.5%;
  width: 4.5vw;
}

#admin-privacy-section-users-list-steamhex-title {
  margin-left: 43.5%;
  width: 12vw;
}

#admin-privacy-section-users-list-steamname-title {
  margin-left: 56%;
  width: 14.5vw;
}

#admin-privacy-section-users-list-date-title {
  margin-left: 71%;
  width: 6.5vw;
}

#admin-privacy-section-users-list {
  position: absolute;
  width: 41%;
  height: 42%;
  left: 37.5%;
  margin-top: 18.3%;
  overflow-y: scroll;
  border-radius: 1px;
  opacity: 1;
  padding-top: 1vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
}

#admin-privacy-section-users-list-main {
  position: relative;
  height: 4.2vw;
  width: 99%;
  margin-left: 1%;
  background-color: rgba(14, 14, 14, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#admin-privacy-section-users-list-main:hover {
  opacity: 0.7;
}

#admin-privacy-section-users-list-id,
#admin-privacy-section-users-list-steamhex,
#admin-privacy-section-users-list-steamname,
#admin-privacy-section-users-list-date,
#admin-privacy-section-users-list-action {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 1.42vw;
  padding-top: 0.15vw;
  margin-left: 3.5vw;
  color: rgba(240, 240, 240, 0.796);
  font-size: 0.8vw;
  width: 20.4vw;
  text-align: center;
  margin-top: 0.2vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#admin-privacy-section-users-list-id {
  font-size: 0.9vw;
  margin-left: 1.5%;
  width: 4.5vw;
}

#admin-privacy-section-users-list-steamhex {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 14%;
  width: 12vw;
  padding-top: 0.25vw;
}

#admin-privacy-section-users-list-steamname {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 45%;
  width: 14.5vw;
  padding-top: 0.25vw;
}

#admin-privacy-section-users-list-date {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 82.5%;
  width: 6.5vw;
  padding-top: 0.25vw;
}

#admin-privacy-section-users-list-action {
  margin-top: 2vw;
  margin-left: 0.6vw;

  background-color: rgba(51, 51, 51, 0.0);
  box-shadow: rgba(255, 255, 255, 0.0) 0px 0px 1px 1px inset;

  text-align: left;
  font-size: 0.65vw;

  width: 37vw;
}

#admin-privacy-section-users-pages-list {
  position: absolute;
  display: inline-block;
  font-size: 0.7vw;
  width: fit-content;
  height: 1vw;
  left: 37.7%;
  margin-top: 43.3%;
}

#admin-privacy-section-users-pages-list-value {
  position: relative;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(216, 216, 216);
  font-size: 0.8vw;
  font-weight: 750;
  height: 1vw;
  width: 1vw;
  text-align: left;
}

#admin-privacy-section-users-pages-list-value:hover {
  color: gray;
}