#bans-section-title-icon,
#bans-section-refresh-icon {
  position: absolute;
  color: aliceblue;
  font-size: 1.3vw;
  left: 37.5%;
  margin-top: 12%;
  width: 14%;
  height: 1vw;
  text-align: left;
}

#bans-section-refresh-icon {
  font-size: 1.2vw;
  margin-top: 15%;
  left: 76.5%;
  width: 2%;
}

#bans-section-refresh-icon:hover {
  opacity: 0.7;
}

#bans-section-search-input {
  position: absolute;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8vw;
  width: 23vw;
  height: 1.2vw;
  margin-top: 15%;
  left: 37.5%;
  text-align: left;
  padding-left: 0.5vw;
  border: 0.5px solid rgba(255, 255, 255, 0.106);
  box-shadow: rgba(255, 255, 255, 0.106) 0px 0px 1px;
  background-color: rgba(8, 8, 8, 0.455);
}

#bans-section-search-button {
  position: absolute;
  height: 1.1vw;
  font-size: 0.85vw;
  color: rgba(223, 223, 223, 0.898);
  width: 7vw;
  text-align: center;
  margin-top: 15%;
  margin-left: 61%;
  padding-top: 0.1vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#bans-section-search-button:hover {
  color: aliceblue;
}

#bans-section-title,
#bans-section-users-list-id-title,
#bans-section-users-list-steamhex-title,
#bans-section-users-list-steamname-title,
#bans-section-users-list-warnings-title,
#bans-section-dialog-description {
  position: absolute;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  margin-left: 40%;
  margin-top: 11.8%;
  width: fit-content;
  height: 1vw;
  font-weight: 500;
  text-align: left;
}

#bans-section-users-list-id-title,
#bans-section-users-list-steamhex-title,
#bans-section-users-list-steamname-title,
#bans-section-users-list-warnings-title {
  color: aliceblue;
  font-size: 0.7vw;
  background-color: rgba(24, 24, 24, 0.39);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
  text-align: center;
  margin-left: 40%;
  margin-top: 16.8%;
  width: 6vw;
}

#bans-section-users-list-id-title {
  margin-left: 38.5%;
  width: 4.5vw;
}

#bans-section-users-list-steamhex-title {
  margin-left: 43.5%;
  width: 12vw;
}

#bans-section-users-list-steamname-title {
  margin-left: 56%;
  width: 14.5vw;
}

#bans-section-users-list-warnings-title {
  margin-left: 71%;
  width: 6.5vw;
}

#bans-section-users-list {
  position: absolute;
  width: 41%;
  height: 42%;
  left: 37.5%;
  margin-top: 18.3%;
  overflow-y: scroll;
  border-radius: 1px;
  opacity: 1;
  padding-top: 1vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
}

#bans-section-users-list-main {
  position: relative;
  height: 5vw;
  width: 99%;
  margin-left: 1%;
  background-color: rgba(14, 14, 14, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#bans-section-users-list-main:hover {
  opacity: 0.7;
}

#bans-section-users-list-id,
#bans-section-users-list-steamhex,
#bans-section-users-list-steamname,
#bans-section-users-list-warnings,
#bans-section-users-list-reason-title,
#bans-section-users-list-reason,
#bans-section-users-list-remaining,
#bans-section-dialog-title {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 1.42vw;
  padding-top: 0.15vw;
  margin-left: 3.5vw;
  color: rgba(240, 240, 240, 0.796);
  font-size: 0.8vw;
  width: 20.4vw;
  text-align: center;
  margin-top: 0.2vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#bans-section-users-list-id {
  font-size: 0.9vw;
  margin-left: 1.5%;
  width: 4.5vw;
}

#bans-section-users-list-steamhex {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 14%;
  width: 12vw;
  padding-top: 0.25vw;
}

#bans-section-users-list-steamname {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 45%;
  width: 14.5vw;
  padding-top: 0.25vw;
}

#bans-section-users-list-warnings {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 82.5%;
  width: 6.5vw;
  padding-top: 0.25vw;
}

#bans-section-users-list-reason-title {
  margin-top: 2vw;
  margin-left: 0.6vw;

  background-color: rgba(51, 51, 51, 0.0);
  box-shadow: rgba(255, 255, 255, 0.0) 0px 0px 1px 1px inset;

  text-align: left;
  font-size: 0.7vw;

  text-decoration: underline;
}

#bans-section-users-list-reason {
  margin-top: 3.0vw;
  margin-left: 0.6vw;

  color: gray;

  background-color: rgba(51, 51, 51, 0.0);
  box-shadow: rgba(255, 255, 255, 0.0) 0px 0px 1px 1px inset;

  text-align: left;
  font-size: 0.65vw;

  width: 37vw;
}

#bans-section-users-list-remaining {
  margin-top: 1.8vw;
  margin-left: 0.6vw;
  color: rgba(151, 44, 44, 0.796);
  background-color: rgba(51, 51, 51, 0.0);
  box-shadow: rgba(255, 255, 255, 0.0) 0px 0px 1px 1px inset;

  text-align: right;
  font-size: 0.55vw;

  width: 38.4vw;
}

#bans-section-dialog-title {
  color: #ddc076;
  font-size: 0.8vw;
  margin-top: 19%;
  margin-left: 46%;
  width: 23%;
  text-align: center;
}

#bans-section-dialog-description {

  color: rgba(255, 255, 255, 0.815);
  font-size: 0.7vw;
  margin-top: 23%;
  margin-left: 46%;
  width: 23%;
  text-align: center;

  height: fit-content;
  white-space: pre-line;
}

#bans-section-users-pages-list {
  position: absolute;
  display: inline-block;
  font-size: 0.7vw;
  width: fit-content;
  height: 1vw;
  left: 37.7%;
  margin-top: 43.3%;
}

#bans-section-users-pages-list-value {
  position: relative;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(216, 216, 216);
  font-size: 0.8vw;
  font-weight: 750;
  height: 1vw;
  width: 1vw;
  text-align: left;
}

#bans-section-users-pages-list-value:hover {
  color: gray;
}

#bans-section-dialog-fade-background {
  position: absolute;

  margin-left: 37%;
  margin-top: 14%;
  height: 54.5%;
  width: 42%;

  background-color: rgba(8, 8, 8, 0.656);
  border: 0.5px solid rgba(255, 255, 255, 0.105);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.105);
  border-radius: 1.2%;
}

#bans-section-dialog-background {
  position: absolute;

  margin-left: 45%;
  margin-top: 18%;
  height: 24.5%;
  width: 25%;

  background-color: rgba(8, 8, 8, 0.956);
  border: 0.5px solid rgba(255, 255, 255, 0.405);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.405);
  border-radius: 1.2%;
}

#bans-section-dialog-unban-button,
#bans-section-dialog-cancel-button {
  position: absolute;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: white;
  font-size: 0.65vw;

  text-align: center;

  opacity: 0.8;

  height: 1.5vw;
  width: 6vw;

  border: solid transparent;
  float: left;

  background-size: 100% 100% !important;
  background-image: url(../img/button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin-top: 28.5%;
  margin-left: 47%;

  padding-top: 0.5vw;
}

#bans-section-dialog-cancel-button {
  margin-left: 61.7%;
}

#bans-section-dialog-unban-button:hover,
#bans-section-dialog-cancel-button:hover {
  opacity: 0.6;
}