#users-section-title-icon,
#users-selected-section-title-icon,
#users-selected-section-back-icon,
#users-section-refresh-icon,
#users-selected-section-list-dialog-refresh-icon {
  position: absolute;
  color: aliceblue;
  font-size: 1.3vw;
  left: 37.5%;
  margin-top: 12%;
  width: 14%;
  height: 1vw;
  text-align: left;
}

#users-section-refresh-icon {
  font-size: 1.2vw;
  margin-top: 15%;
  left: 76.5%;
  width: 2%;
}

#users-selected-section-list-dialog-refresh-icon {
  font-size: 1.2vw;
  margin-top: 24%;
  left: 68.5%;
  width: 2%;
}


#users-section-refresh-icon:hover,
#users-selected-section-list-dialog-refresh-icon:hover {
  opacity: 0.7;
}

#users-selected-section-back-icon {
  font-size: 1.2vw;
  margin-top: 15%;
  left: 38.5%;
  width: 2%;
}

#users-section-search-input,
#users-selected-section-list-dialog-search-input {
  position: absolute;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8vw;
  width: 23vw;
  height: 1.2vw;
  margin-top: 15%;
  left: 37.5%;
  text-align: left;
  padding-left: 0.5vw;
  border: 0.5px solid rgba(255, 255, 255, 0.106);
  box-shadow: rgba(255, 255, 255, 0.106) 0px 0px 1px;
  background-color: rgba(8, 8, 8, 0.455);
}

#users-section-search-button,
#users-selected-section-list-dialog-search-button {
  position: absolute;
  height: 1.1vw;
  font-size: 0.85vw;
  color: rgba(223, 223, 223, 0.898);
  width: 7vw;
  text-align: center;
  margin-top: 15%;
  margin-left: 61%;
  padding-top: 0.1vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#users-selected-section-list-dialog-search-button {
  margin-top: 24%;
  margin-left: 60.3%;
}

#users-selected-section-list-dialog-search-input {
  margin-top: 24%;
  margin-left: 7.5%;
  width: 14vw;
  background-color: rgba(225, 225, 255, 0.05);
}

#users-section-search-button:hover,
#users-selected-section-list-dialog-search-button:hover {
  color: aliceblue;
}

#users-selected-section-info-desc-title,
#users-section-title,
#users-section-users-list-count,
#users-section-users-list-id-title,
#users-section-users-list-steam-title,
#users-section-users-list-fullname-title,
#users-section-users-list-job-title,
#users-selected-section-title,
#users-selected-section-actions-title,
#users-selected-section-inventory-title,
#users-selected-section-back-title,
#users-selected-section-info-title,
#users-selected-section-dialog-title,
#users-selected-section-dialog-input1-description,
#users-selected-section-dialog-input2-description,
#users-selected-section-dialog-input3-description,
#users-selected-section-list-dialog-title,
#users-selected-section-list-dialog-description,
#users-selected-section-list-dialog-list-hovered-name,
#users-selected-section-list-dialog-list-hovered-item-name {
  position: absolute;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  margin-left: 40%;
  margin-top: 11.8%;
  width: fit-content;
  height: 1vw;
  font-weight: 500;
  text-align: left;
}


#users-selected-section-title {
  font-size: 1vw;
  margin-left: 39.5%;
  margin-top: 12%;
  user-select: text;
}
#users-selected-section-back-title {
  margin-top: 15.1%;
  font-size: 0.7vw;
  margin-left: 40%;
}

#users-section-users-list-id-title,
#users-section-users-list-steam-title,
#users-section-users-list-fullname-title,
#users-section-users-list-job-title {
  color: aliceblue;
  font-size: 0.7vw;
  background-color: rgba(24, 24, 24, 0.39);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
  text-align: center;
  margin-left: 40%;
  margin-top: 16.8%;
  width: 6vw;
}

#users-section-users-list-id-title {
  margin-left: 38.5%;
  width: 4.5vw;
}

#users-section-users-list-steam-title {
  margin-left: 43.5%;
  width: 12vw;
}

#users-section-users-list-fullname-title {
  margin-left: 56%;
  width: 14.5vw;
}

#users-section-users-list-job-title {
  margin-left: 71%;
  width: 6.5vw;
}

#users-section-users-list-count {
  color: rgb(176, 176, 177);
  font-size: 0.9vw;
  text-align: right;
  width: 38.5%;
  margin-top: 12.4%;
}

#users-section-users-list {
  position: absolute;
  width: 41%;
  height: 42%;
  left: 37.5%;
  margin-top: 18.3%;
  overflow-y: scroll;
  border-radius: 1px;
  opacity: 1;
  padding-top: 1vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
}

#users-section-users-list-main {
  position: relative;
  height: 2vw;
  width: 99%;
  margin-left: 1%;
  background-color: rgba(14, 14, 14, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#users-section-users-list-main:hover {
  opacity: 0.7;
}

#users-section-users-list-id,
#users-section-users-list-steam,
#users-section-users-list-fullname,
#users-section-users-list-job {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 1.42vw;
  padding-top: 0.15vw;
  margin-left: 3.5vw;
  color: rgba(240, 240, 240, 0.796);
  font-size: 0.8vw;
  width: 20.4vw;
  text-align: center;
  margin-top: 0.2vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#users-section-users-list-id {
  font-size: 0.9vw;
  margin-left: 1.5%;
  width: 4.5vw;
}

#users-section-users-list-steam {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 14%;
  width: 12vw;
  padding-top: 0.25vw;
}

#users-section-users-list-fullname {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 45%;
  width: 14.5vw;
  padding-top: 0.25vw;
}

#users-section-users-list-job {
  height: 1.32vw;
  font-size: 0.7vw;
  margin-left: 82.5%;
  width: 6.5vw;
  padding-top: 0.25vw;
}

#users-section-users-pages-list {
  position: absolute;
  display: inline-block;
  font-size: 0.7vw;
  width: fit-content;
  height: 1vw;
  left: 37.7%;
  margin-top: 43.3%;
}

#users-section-users-pages-list-value {
  position: relative;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(216, 216, 216);
  font-size: 0.8vw;
  font-weight: 750;
  height: 1vw;
  width: 1vw;
  text-align: left;
}

#users-section-users-pages-list-value:hover {
  color: gray;
}

#users-selected-section-actions-list {
  position: absolute;
  width: 19%;
  height: 45%;
  left: 58.5%;
  margin-top: 17.3%;
  overflow-y: scroll;
  border-radius: 1px;
  opacity: 1;
  padding-top: 1vw;
  background-color: rgba(51, 51, 51, 0.2);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
}

#users-selected-section-actions-list-main {
  position: relative;
  height: 2vw;
  width: 97%;
  margin-left: 1%;
}

#users-selected-section-actions-list-label {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 1.42vw;
  padding-top: 0.15vw;
  color: aliceblue;
  width: 16.5vw;
  text-align: left;
  margin-top: 0.2vw;
  padding-left: 0.5vw;
  font-size: 0.75vw;
  margin-left: 2%;
  background-color: rgba(14, 14, 14, 0.5);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  border-radius: 1%;
}

#users-selected-section-actions-list-label:hover {
  opacity: 0.6;
}

#users-selected-section-info-desc-title,
#users-selected-section-actions-title,
#users-selected-section-inventory-title,
#users-selected-section-info-title {
  font-size: 1vw;
  margin-top: 15%;
  margin-left: 57.4%;
  width: 21.5%;
  text-align: center;
  text-decoration: underline;
}

#users-selected-section-inventory-background {
  position: absolute;
  margin-top: 28%;
  margin-left: 38.4%;
  width: 17.2%;
  height: 28.5%;
  background-color: rgba(51, 51, 51, 0.1);
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
}

#users-selected-section-inventory-title {
  margin-top: 26%;
  margin-left: 36%;
}

#users-selected-section-info-desc-title {
  text-decoration: none;
  font-size: 0.7vw;
  color: rgba(235, 235, 235, 0.697);
  margin-top: 19.5%;
  margin-left: 38.5%;
  width: 17%;
  text-align: left;
}

#users-selected-section-info-title {
  margin-top: 17.5%;
  margin-left: 36%;
}

#users-selected-section-divider-line {
  position: absolute;
  width: 0.2%;
  height: 46.7%;
  margin-left: 57%;
  margin-top: 17.3%;
  color: aliceblue;
  box-shadow: rgba(255, 255, 255, 0.13) 0px 0px 1px 1px inset;
  background-color: rgba(255, 255, 255, 0.13);
}

#users-selected-section-inventory-list,
#users-selected-section-list-dialog-list {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  width: 16.7vw;
  height: fit-content;
  max-height: 15vw;
  margin-left: 39.8%;
  margin-top: 28.5%;
  border-radius: 1px;
  overflow: hidden scroll;
  float: left;
}

#users-selected-section-list-dialog-list {
  margin-left: 45.05%;
  margin-top: 26%;

  height: fit-content;
  max-height: 15vw;

  width: 26.7vw;
}

#users-selected-section-inventory-list-image,
#users-selected-section-list-dialog-list-image {
  position: relative;
  display: inline-block;
  height: 3.4vw;
  width: 3.4vw;
  margin-top: 0.2vw;
  background-color: rgba(128, 90, 2, 0.396);
  border-radius: 2%;
  border: 2px solid rgba(71, 71, 71, 0.745);
}

#users-selected-section-list-dialog-list-image {
  height: 4vw;
  width: 4vw;
}

#users-selected-section-list-dialog-list-image:hover {
  opacity: 0.7;
}

#users-selected-section-inventory-list-count {
  position: absolute;
  display: inline-block;
  width: 1.25vw;
  height: 1vw;
  color: rgb(14, 14, 14);
  font-size: 0.6vw;
  font-weight: bold;
  margin-left: -9.5%;
  margin-top: 13.5%;
  border-radius: 50%;
  text-align: center;
  padding-top: 2%;
  background-color: rgba(255, 255, 255, 0.847);
}

#users-selected-section-inventory-list-weight,
#users-selected-section-list-dialog-list-weight {
  position: absolute;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  font-family: crock, crock, serif;
  color: rgba(255, 255, 255, 0.647);
  font-size: 0.45vw;
  margin-left: -20%;
  margin-top: 2%;
  text-align: left;
}

#users-selected-section-list-dialog-list-weight {
  margin-left: -13%;
  text-align: right;
  width: 3vw;
}

#users-selected-section-dialog-fade-background,
#users-selected-section-list-dialog-fade-background {
  position: absolute;

  margin-left: 37%;
  margin-top: 14%;
  height: 54.5%;
  width: 42%;

  background-color: rgba(8, 8, 8, 0.656);
  border: 0.5px solid rgba(255, 255, 255, 0.105);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.105);
  border-radius: 1.2%;
}

#users-selected-section-dialog-background,
#users-selected-section-list-dialog-background {
  position: absolute;

  margin-left: 45%;
  margin-top: 18%;
  height: 34.5%;
  width: 25%;

  background-color: rgba(8, 8, 8, 0.956);
  border: 0.5px solid rgba(255, 255, 255, 0.405);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.405);
  border-radius: 1.2%;
}

#users-selected-section-list-dialog-background {
  margin-top: 14.5%;
  margin-left: 43%;
  width: 29%;

  height: 52.5%;
}

#users-selected-section-dialog-title,
#users-selected-section-list-dialog-title {
  color: #ddc076;
  font-size: 0.8vw;
  margin-top: 19%;
  margin-left: 46%;
  width: 23%;
  text-align: center;
}

#users-selected-section-list-dialog-title {
  font-size: 1.0vw;
  margin-top: 15%;
}

#users-selected-section-list-dialog-list-hovered-name{
  color: aliceblue;
  margin-left: 46%;
  margin-top: 41.6%;
  width: 23%;
  text-align: center;
  font-size: 0.9vw;
}

#users-selected-section-list-dialog-list-hovered-item-name {
  color: rgba(255, 255, 255, 0.582);
  margin-left: 46%;
  margin-top: 43%;
  width: 23%;
  text-align: center;
  font-size: 0.6vw;
}

#users-selected-section-dialog-input1-description,
#users-selected-section-dialog-input2-description,
#users-selected-section-dialog-input3-description,
#users-selected-section-list-dialog-description {

  color: rgba(255, 255, 255, 0.815);
  font-size: 0.7vw;
  margin-top: 23%;
  margin-left: 46%;
  width: 23%;
  text-align: center;

  height: fit-content;
  white-space: pre-line;
}

#users-selected-section-list-dialog-description {
  font-size: 0.65vw;

  margin-top: 17.5%;
  margin-left: 45%;
  width: 25%;
}

#users-selected-section-dialog-input2-description {
  margin-top: 28%;
}

#users-selected-section-dialog-input3-description {
  margin-top: 31%;
}

#users-selected-section-dialog-input1-input,
#users-selected-section-dialog-input2-input,
#users-selected-section-dialog-input3-input {
  position: absolute;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: rgb(32, 32, 32);
  font-size: 0.7vw;
  text-align: center;

  width: 10vw;
  height: 1.2vw;
  padding-top: 0.1vw;

  margin-top: 25.5vw;
  left: 52.5%;

  background-color: rgb(216, 213, 213);
}

#users-selected-section-dialog-input2-input {
  margin-top: 30.5%;
}

#users-selected-section-dialog-accept-button,
#users-selected-section-dialog-cancel-button {
  position: absolute;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: white;
  font-size: 0.65vw;

  text-align: center;

  opacity: 0.8;

  height: 1.5vw;
  width: 6vw;

  border: solid transparent;
  float: left;

  background-size: 100% 100% !important;
  background-image: url(../img/button.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin-top: 33.5%;
  margin-left: 47%;

  padding-top: 0.5vw;
}

#users-selected-section-dialog-cancel-button {
  margin-left: 62%;
}

#users-selected-section-dialog-accept-button:hover,
#users-selected-section-dialog-cancel-button:hover {
  opacity: 0.6;
}

#users-selected-section-list-dialog-close-button {
  position: absolute;

  width: 1vw;
  height: 1vw;

  font-family: crock, crock, serif;

  color: rgba(255, 0, 0, 0.801);

  font-size: 1vw;

  margin-top: 14.9%;
  margin-left: 69.5%;
}

#users-selected-section-list-dialog-close-button:hover {
  color: red;
}